@font-face {
    font-family: 'Artegra Sans';
    src: url('../fonts/ArtegraSans-Black.eot');
    src: url('../fonts/ArtegraSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSans-Black.woff2') format('woff2'),
        url('../fonts/ArtegraSans-Black.woff') format('woff'),
        url('../fonts/ArtegraSans-Black.ttf') format('truetype'),
        url('../fonts/ArtegraSans-Black.svg#ArtegraSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans';
    src: url('../fonts/ArtegraSans-Bold.eot');
    src: url('../fonts/ArtegraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSans-Bold.woff2') format('woff2'),
        url('../fonts/ArtegraSans-Bold.woff') format('woff'),
        url('../fonts/ArtegraSans-Bold.ttf') format('truetype'),
        url('../fonts/ArtegraSans-Bold.svg#ArtegraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans';
    src: url('../fonts/ArtegraSans-SemiBold.eot');
    src: url('../fonts/ArtegraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArtegraSans-SemiBold.woff2') format('woff2'),
        url('../fonts/ArtegraSans-SemiBold.woff') format('woff'),
        url('../fonts/ArtegraSans-SemiBold.ttf') format('truetype'),
        url('../fonts/ArtegraSans-SemiBold.svg#ArtegraSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

