h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	margin: 0;
}

b, strong {
	font-weight: $fw-bold
}