// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1064px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1064px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff			: 'Artegra Sans', sans-serif;
$ff-mon	    : 'Montserrat', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;
$fw-extra	: 900;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$black	: #000000;
$accent	: #FFA100;
$bg	    : #7d24a6;
$input	: #949494;
$range	: #3D5AF1;

// Others.
$tr: 0.35s;
$op: 0.7