.calc {
	padding: 20px 0;

	@media all and (min-width: $lg) {
		padding: 50px 0;
	}

	h2 {
		font-family: $ff;
		font-weight: $fw-extra;
		font-size: 20px;
		line-height: 30px;
		color: $white;
		text-align: center;
		margin-bottom: 28px;

		@media all and (min-width: $lg) {
			font-size: 43px;
			line-height: 68px;
		}
	}

	&__wrapper {
		width: 100%;
		max-width: 535px;
		margin: 0 auto;
		padding: 20px;
		border: 1px dashed #9747FF;
		border-radius: 50px;

		@media all and (min-width: $lg) {
			padding: 58px;
		}
	}

	&__title,
	.sum {
		display: flex;
		justify-content: space-between;
		font-family: $ff-mon;
		font-weight: $fw-regular;
		color: #BBBBBB;
		font-size: 15px;
		line-height: 43px;
		margin-bottom: 20px;

		@media all and (min-width: $md) {
			font-size: 20px;
		}

		@media all and (min-width: $lg) {
			font-size: 29px;
			margin-bottom: 40px;
		}
	}

	.sum {
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		font-size: 20px;
		margin-top: 20px;

		@media all and (min-width: $lg) {
			font-size: 28px;
			margin-top: 44px;
		}

		span {
			margin-right: 5px;
		}
	}
}

input[type=range] {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	overflow: hidden;
	height: 12px;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 12px;
	background-color: $black;
}

input[type=range]::-webkit-slider-thumb {
	background: $white;
	cursor: pointer;
	width: 15px;
	height: 15px;
	-webkit-appearance: none;
	margin-top: -4px;
	box-shadow: -200px 0 0 200px $accent;

}

input[type=range]::-moz-range-track {
	height: 12px;
	background-color: $black;
}


input[type=range]::-moz-range-thumb {
	background: $white;
	cursor: pointer;
	height: 12px;
	border-radius: 0px;
	box-shadow: -200px 0px 0px 200px $accent;
	padding: 0px;
	margin: 0px;
}