.forming {
	padding: 40px 0;
	position: relative;

	@media all and (min-width: $lg) {
		padding: 185px 0 200px;

		&::after {
			content: '';
			position: absolute;
			bottom: -70px;
			left: 0;
			background-image: url( '../img/clouds/clouds.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100%;
			height: 361px;
		}
	}
	
	.container {
		max-width: 1030px;
	}

	h2 {
		font-family: $ff;
		font-weight: $fw-extra;
		font-size: 25px;
		line-height: 25px;
		color: $white;
		text-align: center;
		margin-bottom: 34px;

		@media all and (min-width: $lg) {
			font-size: 45px;
			line-height: 67px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
	}

	&__item {
		width: calc( 100% / 1 );
		padding: 0 12px;
		min-height: 352px;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		@media all and (min-width: 576px) {
			width: calc( 100% / 2 );
			
			&:nth-child( n + 3 ) {
				margin-bottom: 0;
			}
		}

		@media all and (min-width: $lg) {
			width: calc( 100% / 4 );
			margin-bottom: 0;
		}

		&:nth-child(2) {
			.forming__title {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;

				@media all and (min-width: $xl) {
					flex-direction: row;
					text-align: left;
				}

				span {
					padding-top: 10px;
					font-size: 69px;
					margin-bottom: 10px;

					@media all and (min-width: $xl) {
						margin-bottom: 0;
					}
				}
			}
		}

		&:nth-child(3) {
			.forming__title {
				display: flex;
				flex-direction: column;

				span {
					font-size: 69px;
					margin-top: 20px;
				}
			}
		}

		&:last-child {
			.forming__title {
				display: flex;
				flex-direction: column;
			}

			.forming__title_top {
				position: relative;
				padding-top: 30px;
				display: flex;
				flex-direction: column;

				.forming__number {
					font-weight: $fw-bold;
					font-size: 89px;
					margin-bottom: 5px;
				}
	
				.reverse__text {
					font-size: 22px;
					position: absolute;
					left: -50px;
					top: 20px;
					transform: rotate(-90deg);
				}
			}
		}
	}

	&__inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: $white;
		position: relative;
		border-radius: 17px;
	}

	&__title {
		font-family: $ff;
		font-weight: $fw-bold;
		font-size: 31px;
		line-height: 31px;
		color: $white;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 176px;
		padding: 13px;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 176px;
			background-color: $accent;
			border-radius: 17px;
			z-index: -1;
		}
	}

	&__text {
		font-family: $ff-mon;
		font-weight: $fw-regular;
		font-size: 20px;
		line-height: 24px;
		color: $black;
		text-align: center;
		margin-top: 39px;
		padding: 0 20px;
	}
}