.income {
	padding: 10px 0;

	@media all and (min-width: $lg) {
		padding: 50px 0;
	}

	.container {
		max-width: 1040px;
	}

	h2 {
		font-family: $ff;
		font-weight: $fw-bold;
		font-size: 20px;
		color: $white;
		line-height: 1.6;
		margin-bottom: 32px;

		@media all and (min-width: $lg) {
			font-size: 36px;
			padding-right: 20%;
		}

		span {
			color: $accent;
		}
	}

	&__title_desc {
		font-family: $ff-mon;
		font-weight: $fw-bold;
		color: $white;
		font-size: 13px;
		position: relative;
		padding-left: 12px;
		line-height: 1;
		margin-bottom: 20px;

		@media all and (min-width: $lg) {
			margin-bottom: 80px;
		}

		&::before {
			content: "*";
			display: block;
			position: absolute;
			left: 0;
			top: -34px;
			display: block;
			font-size: 36px;
			color: $accent;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}

		&_left {
			width: 100%;

			@media all and (min-width: $lg) {
				width: 50%;
			}
		}

		&_right {
			display: flex;
			justify-content: center;
			width: 100%;

			@media all and (min-width: $lg) {
				width: 50%;
				padding-left: 50px;
				justify-content: flex-start;
			}
		}
	}

	&__table {
		display: flex;
		background-color: $accent;
		padding: 32px 16px;
		border-radius: 50px;
		font-family: $ff;
		font-weight: $fw-bold;
		color: $white;
		font-size: 13px;
		text-align: center;
		margin-bottom: 30px;

		@media all and (min-width: $lg) {
			margin-bottom: 0;
		}

		&_left {
			width: 65%;
			border-right: 1px solid $white;
		}

		&_right {
			width: 35%;
		}
	}

	&__left_item, &__right_item {
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}