.top__form {
	padding: 50px 0;

	@media all and (min-width: $lg) {
		padding: 245px 0 50px;
	}

	&_wrapper {
		display: flex;
		flex-direction: column;
		background-color: $black;
		padding: 40px;
		border-radius: 50px;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&_text {
		font-family: $ff;
		font-weight: $fw-bold;
		font-size: 17px;
		color: $white;

		@media all and (min-width: $lg) {
			font-size: 27px;
		}

		span {
			color: $accent;
		}
	}

	&_info {
		width: 100%;
		margin-bottom: 30px;
		text-align: center;

		@media all and (min-width: $lg) {
			width: 60%;
			margin-bottom: 0;
			text-align: left;
		}
	}

	.top__send {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@media all and (min-width: $lg) {
			width: 40%;
		}

		fieldset {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
		}

		input {
			padding: 18px 28px;
			border-radius: 50px;
			margin-bottom: 11px;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}

		input, input::placeholder {
			font-family: $ff-mon;
			font-weight: $fw-medium;
			font-size: 19px;
			color: $input;
			opacity: 1;
		}

		.button {
			width: 100%;
			// max-width: ;
		}
	}

	&_more {
		font-family: $ff;
		font-weight: $fw-bold;
		font-size: 19px;
		color: $white;
		margin-top: 20px;
	}
}

.success {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px 0;
	color: $accent;
}