.top__form {
	padding: 50px 0;

	&_wrapper {
		display: flex;
		background-color: $black;
	}

	&_text {
		color: $white;

		span {
			color: $accent;
		}
	}

	&__info {
		width: 60%;
	}

	.top__send {
		width: 40%;
	}
}